* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-color: #1f1f21;
    --text-color: #fff;
    --main-color: #ffae00;
    --big-font: 7rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
    background: #262626;
    transition: all ease .45s;
}

.logo {
    color: var(--text-color);
    font-size: 41px;
    font-weight: 600;
}

.logo span {
    color: var(--main-color);
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    margin: 0 25px;
    transition: all ease .50s;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a.active {
    color: var(--main-color);
}

.menu-btn {
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    padding: 10px 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#menu-icon {
    font-size: 28px;
    margin-left: 10px;
    z-index: 6;
}

section {
    padding: 50px;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.home-text {
    margin-top: 150px;
}

.home-img {
    width: 900px;
    height: 900px;
}

.home-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.home-text span {
    padding: 5px 25px;
    background: linear-gradient(130.08deg, #383528 0%, #191919 100);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 100px;
    color: var(--text-color);
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}

.home-text h1 {
    font-size: 5rem;
    margin: 23px 0;
}

.home-text p {
    font-size: var(--p-font);
    font-weight: 400;
    color: #c3c3c3;
    line-height: 30px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 14px 34px;
    background: var(--main-color);
    color: var(--text-color);
    border: 2px solid var(--main-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.6s ease-in-out;
}

.btn:hover {
    transform: translate(-5px);
    background: transparent;
    color: var(--main-color);
}

.two {
    background: #141414;
    border: 2px solid #141414;
    color: var(--text-color);
    margin-left: 25px;
}

.two:hover {
    color: #141414;
    background: var(--text-color);
    border: 2px solid var(--text-color);
}

.share {
    margin-top: 50px;
    bottom: 3rem;
    display: flex;
    align-items: center;
}

.share p {
    text-align: center;
    font-size: 17px;
    color: var(--text-color);
    margin: 0 7px;
}

.social i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: linear-gradient(130.08deg, #383528 0%, #191919 100);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 20px;
    margin: 0 7px;
    transition: all 0.6s ease-in-out;
}

.social i:hover {
    transform: translateY(-10px);
    color: #000;
    background-color: white;
}

/* --------------About-------------*/

#about {
    padding: 50px 50px;
    color: var(--text-color);
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: var(--main-color);
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ffae00;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #ffae00;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/*------------Services------------*/

#service {
    padding: 50px 50px;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.service-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.service-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.service-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.service-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.service-list div:hover {
    color: #000;
    background: #fff;
    transform: translateY(-10px);
}

.service-list div:hover a {
    color: #000;
    font-size: 20px;
}

.service-list div a:hover {
    color: #ffae00;
    font-weight: bold;
}

#portfolio {
    padding: 50px 50px;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    justify-items: center;
}

.work-list div:nth-child(4) {
    grid-column: 1 / -1;
    /* This spans the fourth item across all columns */
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(0, 0, 0, 0.6), #ff0000);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff0000;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.buttom {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ffae00;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
}

.buttom:hover {
    background: #ffae00;
    color: black;
}

/*------------Contact------------*/

#contact {
    padding: 50px 50px;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #fff;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: linear-gradient(130.08deg, #383528 0%, #191919 100);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 20px;
    margin: 0 7px;
    transition: all 0.6s ease-in-out;
}

.social-icons i:hover {
    transform: translateY(-10px);
    color: #000;
    background-color: white;
}

.buttom.buttom2 {
    display: inline-block;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    resize: none;
}

.buttom.buttom3 {
    display: inline-block;
    background: none;
}

.buttom.buttom3:hover {
    background: #ffae00;
    color: #000;
}

form .buttom3 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
}

.home-img img {
    animation: imgg 2s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes imgg {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-22px);
    }

    100% {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 1100px) {
    .contact-left {
        flex-basis: 45%;
    }

    .contact-right {
        flex-basis: 50%;
    }

    .social i {
        height: 40px;
        width: 40px;
    }

    .social-icons i {
        height: 40px;
        width: 40px;
    }
}

@media only screen and (max-width: 1000px) {
    .logo {
        font-size: 35px;
        font-weight: 500;
    }

    .navbar a {
        font-size: 15px;
        font-weight: 500;
    }

    .menu-btn {
        padding: 5px 10px;
    }

    .about-col-1 {
        flex-basis: 35%;
    }

    .about-col-2 {
        flex-basis: 60%;
    }

}

@media only screen and (max-width: 950px) {
    .tab-links {
        margin-right: 40px;
    }
}

@media only screen and (max-width: 900px) {
    .social i {
        height: 30px;
        width: 30px;
    }

    .social-icons i {
        height: 30px;
        width: 30px;
    }

    .about-col-1 {
        flex-basis: 25%;
    }

    .about-col-2 {
        flex-basis: 70%;
    }

    .service-list {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }

    .work-list {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        justify-items: center;
        /* Align items horizontally in the center */
    }

    .work-list div:nth-child(3) {
        grid-column: 1 / -1;
        /* This spans the fourth item across all columns */
    }
}

@media only screen and (max-width: 850px) {
    #contact .container .row {
        display: block;
    }

    #about .row {
        display: block;
    }

    .about-col-1 img {
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    .home-img {
        display: none;
        /* Hide the image for screens less than 800px */
    }

    .home-text {
        margin-top: 50px;
        /* Adjust margin-top */
        text-align: center;
        /* Center text */
    }

    .home-text h1 {
        font-size: 3rem;
        /* Decrease font size of heading */
        margin-top: 20px;
    }

    .home-text span {
        padding: 8px 20px;
        font-size: 12px;
    }

    .navbar{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 50px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        background: #2d2d2d;
        transition: all 0.4s ease-in-out;
    }

    .navbar a{
        display: block;
        color: #c3c3c3;
        padding: 0px;
        margin: 0px 0px 40px 0px;
        font-size: 2rem;
        font-weight: 400;
    }
    .navbar.open{
        left: 0;
    }
}

@media only screen and (max-width: 800px) {
    .service-list {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }

    .work-list {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }

    .work img {
        height: 400px;
        width: 300px;
    }

    .share {
        flex-direction: column;
        /* Change flex-direction to column */
        align-items: center;
        /* Center items horizontally */
        text-align: center;
        /* Center text */
    }

    .social {
        margin-top: 10px;
        /* Add margin-top to separate from paragraph */
    }

    header {
        padding: 5px 30px;    
    }

    section {
        padding: 30px;
    }

    #about{
        padding: 30px;
    }

    #service{
        padding: 30px;
    }

    #portfolio{
        padding: 30px;
    }

    #contact{
        padding: 30px;
    }

    hr{
        margin: 30px;
    }
}

@media only screen and (max-width: 600px) {

    /* Hide the "Training" tab title */
    .tab-titles .tab-links:nth-of-type(4) {
        display: none;
    }

    /* Hide the "Training" tab content */
    #training {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .btn {
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 400px) {
    header {
        padding: 5px 20px;    
    }

    section {
        padding: 20px;
    }

    #about{
        padding: 20px;
    }

    #service{
        padding: 20px;
    }

    #portfolio{
        padding: 20px;
    }

    #contact{
        padding: 20px;
    }

    hr{
        margin: 20px;
    }
}