*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --bg-color: #1f1f21;
    --text-color:#fff;
    --main-color: #ffae00;
    --big-font:7rem;
    --p-font: 1.1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}
header{
    position:fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 15%;
    background: transparent;
    transition: all ease .45s;
}

.logo{
    color: var(--text-color);
    font-size: 41px;
    font-weight: 600;
}

.logo span{
    color: var(--main-color);
}

.navbar{
    display: flex;
}

.navbar a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    margin: 0 25px;
    transition: all ease .50s;
}

.navbar a:hover{
    color: var(--main-color);
}

.navbar a.active{
    color: var(--main-color);
}

.menu-btn{
    background: linear-gradient(130.08deg,#383528 0%, #191919 100%);
    box-shadow:0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    padding: 10px 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#menu-icon{
    font-size: 28px;
    margin-left: 10px;
    z-index: 6;
}

section{
    padding: 0 15%;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.home-img{
    width: 900px;
    height: 800px;
}

.home-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.home-text span{
    padding: 5px 25px;
    background: linear-gradient(130.08deg,#383528 0%, #191919 100);
    box-shadow:0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 100px;
    color: var(--text-color);
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}

.home-text h1{
    font-size: var(--big-font);
    margin: 23px 0;
}

.home-text p{
    font-size: var(--p-font);
    font-weight: 400;
    color: #c3c3c3;
    line-height: 30px;
    margin-bottom: 30px;
}

.btn{
    display: inline-block;
    padding: 14px 34px;
    background: var(--main-color);
    color: var(--text-color);
    border: 2px solid var(--main-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.6s ease-in-out;
}

.btn:hover{
    transform: translate(-5px);
    background: transparent;
    color: var(--main-color);
}

.two{
    background: #141414;
    border:2px solid #141414;
    color: var(--text-color);
    margin-left: 25px;
}

.two:hover{
    color: #141414;
    background: var(--text-color);
    border: 2px solid var(--text-color);
}

.share{
    position: absolute;
    bottom: 3rem;
    left: 15%;
    display: flex;
    align-items: center;
}

.share p{
    font-size: 17px;
    color: var(--text-color);
    margin-right: 25px;
}

.social i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: linear-gradient(130.08deg,#383528 0%, #191919 100);
    box-shadow:0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 20px;
    margin: 0 7px;
    transition: all 0.6s ease-in-out;
}

.social i:hover{
    transform: translateY(-10px);
}

/* --------------About-------------*/

#about{
    padding: 50px 50px;
    color: var(--text-color);
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis:35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: var(--main-color);
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content:'';
    width: 0;
    height: 3px;
    background: #ffae00;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #ffae00;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*------------Services------------*/

#service{
    padding: 50px 50px;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.service-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.service-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.service-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.service-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.service-list div:hover{
    color: #000;
    background: #fff;
    transform: translateY(-10px);
}
.service-list div:hover a {
    color: #000;
    font-size:20px;
}

.service-list div a:hover{
    color:#ffae00;
}

@media(max-width: 1850px){
    header{
        padding: 15px 8%;
        transition: .2s;
    }
    section{
        padding: 0 8%;
        transition: .2s;
    }
    .share{
        left: 8%;
        transition: .2s;
    }
}

@media(max-width: 1370px){
    header{
        padding: 15px 4%;
        transition: .2s;
    }
    section{
        padding: 0 4%;
        transition: .2s;
    }
    .share{
        left: 4%;
        transition: .2s;
    }
    :root{
        --big-font: 5.5rem;
        --p-font:1rem;
        transition: .2s;
    }
}

@media(max-width: 1020px){
    .navbar a{
        margin: 0 15px;
    }
    :root{
        --big-font: 5rem;
        --p-font: 1rem;
        transition: .2s;
    }
}

@media(max-width: 950px){
    .share{
        display: none;
    }
    section{
        padding: 70px 4%;
    }
    header{
        padding: 11px 4%;
        background: #2d2d2d;
    }
    .home{
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .home-text{
        order: 2;
    }
    .home-img{
        margin: auto;
        height: auto;
        width: auto;
    }
    .home-img img{
        max-width: 450px;
        width: 100%;
        height: auto;
    }
}

@media(max-width: 850px){
    .navbar{
        position:absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 50px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        background: #2d2d2d;
        transition: all 0.4s ease-in-out;
    }
    .navbar a{
        display: block;
        color: #c3c3c3;
        padding: 0px;
        margin: 0px 0px 40px 0px;
        font-size: 2rem;
        font-weight: 400;
    }
    .navbar.open{
        left: 0;
    }
}
@media(max-width: 500px){
    :root{
        --big-font: 4rem;
        --p-font: 15px;
        transition: .2s;
    }
    .btn{
        padding: 9px 28px;
    }
}

.home-img img{
    animation: imgg 2s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes imgg{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-22px);
    }
    100%{
        transform: translateY(0);
    }
}

